[Unit]
Description=HomeMatic Manager
Before=runlevel2.target runlevel3.target runlevel4.target runlevel5.target shutdown.target
After=remote-fs.target systemd-journald-dev-log.socket network-online.target
Wants=network-online.target
Conflicts=shutdown.target

[Service]
User=hm-man
Type=forking
PIDFile=/var/run/hm-manager.pid
RemainAfterExit=yes
ExecStart=/usr/bin/nodejs /usr/local/bin/hm-manager start
ExecStop=/usr/bin/nodejs /usr/local/bin/hm-manager stop

[Install]
WantedBy=multi-user.target
