html {
    height: 100%;
}

body {
    font-size: 12px;
    min-width: 1200px;
    min-height: 584px;
    margin: 0;
    padding: 0;
    height: 100%;

}

#tabs-main {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;

}

.ui-tabs-nav {
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
}

.ui-tabs-panel {
    border: none;
    padding: 8px !important;
}

.header {
    height: 29px;
    line-height: 29px;
}

a.ui-tabs-anchor:focus, .ui-button:focus, #dialog-help a:focus {
    outline: none;
}

tr.ui-row-ltr {
    font-family: consolas "lucida console" courier;
    font-size: 14px;
}


#select-bidcos-daemon {
    margin-top: 4px;
    margin-right: 6px;
    width: 360px;
}

li.header {
    margin-left: 8px !important;
    margin-right: 8px !important;
    margin-top: -1px !important;
}

.paramset, .editlink, .deletelink {
    font-size: 11px !important;
}

#table-paramset tr {
    height: 28px;
}

#table-paramset tr td {
    padding-right: 24px !important;
}

#table-paramset tr th {
    text-align: left;
    font-weight: bold;
}

.ui-multiselect.rpc-method {
    height: 2.15em;
    padding-top: 0px;
    margin-right: 4px;
}

.ui-multiselect.select-daemon {
    height: 1.9em;
    margin-top: 1px;
    margin-right: 2px;
}

button.paramset {

}

button.paramset span.ui-button-text {
    padding: 1px 3px 1px 3px;
}

.console-container {
    padding-right: 6px;
}

textarea {
    padding-right: -6px;
    border: 1px solid #c5dbec;
}

.menu-button {
    float: right;
    height: 26px;
    width: 26px;
    margin: 1px 2px 1px 2px;
}

.console-param-input {
    width: 356px;
    padding: 2px 4px;
}

#gbox_grid-interfaces {
    margin-bottom: 4px;
}

.interface-set {
    margin: 0 !important;
    padding: 2px 10px 3px 10px !important;
}

.ui-tooltip.ui-widget-content ul{
    padding-left: 20px;
}

.wait {
    cursor: wait !important;
}

.event-column-1 {
    width: 15%;
}
.event-column-2 {
    width: 35%;
}
.event-column-3 {
    width: 10%;
}
.event-column-4 {
    width: 25%;
}
.event-column-5 {
    width: 15%;
}