html {
    height: 100%;
}

body {
    font-size: 12px;
    min-width: 1024px;
    min-height: 584px;
    margin: 0;
    padding: 0;
    height: 100%;

}

#tabs-main {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;

}

.ui-tabs-nav {
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
}

.ui-tabs-panel {
    border: none;
    padding: 8px !important;
}

.header {
    height: 29px;
    line-height: 29px;
}

a.ui-tabs-anchor:focus, .ui-button:focus, #dialog-help a:focus {
    outline: none;
}

tr.ui-row-ltr {
    font-family: consolas "lucida console" courier;
    font-size: 12px;
}


#select-bidcos-daemon {
    margin-top: 4px;
    margin-right: 6px;
}

li.header {
    margin-left: 8px !important;
    margin-right: 8px !important;
    margin-top: -1px !important;
}

.paramset, .editlink, .deletelink {
    font-size: 11px !important;
}

#table-paramset tr {
    height: 28px;
}

#table-paramset tr td {
    padding-right: 24px !important;
}

#table-paramset tr th {
    text-align: left;
    font-weight: bold;
}

.ui-multiselect.rpc-method {
    height: 2.15em;
    padding-top: 0px;
    margin-right: 4px;
}

.ui-multiselect.select-daemon {
    height: 1.9em;
    margin-top: 1px;
    margin-right: 2px;
}

button.paramset {
    padding: 0;
}

button.paramset.link span.ui-button-text, #save-link-info span.ui-button-text {
    font-size: 11px;
    width: 100px;

}

button.paramset.device-table span.ui-button-text {

}

.console-container {
    padding-right: 6px;
}

textarea {
    padding-right: -6px;
    border: 1px solid #c5dbec;
}

.menu-button {
    float: right;
    height: 26px;
    width: 26px;
    margin: 1px 2px 1px 2px;
}

.console-param-input {
    width: 356px;
    padding: 2px 4px;
}

#gbox_grid-interfaces {
    margin-bottom: 4px;
}

.interface-set {
    margin: 0 !important;
    padding: 2px 10px 3px 10px !important;
}

.ui-tooltip.ui-widget-content ul{
    padding-left: 20px;
}

.wait {
    cursor: wait !important;
}

.event-column-1 {
    width: 15%;
}
.event-column-2 {
    width: 35%;
}
.event-column-3 {
    width: 10%;
}
.event-column-4 {
    width: 25%;
}
.event-column-5 {
    width: 15%;
}

.paramset-1 {
    width: 300px;
    text-align: left;
}

.paramset-2 {
    width: 30px;
    text-align: left;
}

.paramset-3 {
    width: 330px;
    text-align: left;
}

.paramset-4 {
    width: 200px;
    text-align: left;
}

/*
#tabs-main {
    background: transparent;
    border: none;
}
#tabs-main .ui-widget-header {
    background: transparent;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
#tabs-main .ui-tabs-nav .ui-state-default {
    background: transparent;
    border: none;
}
#tabs-main .ui-tabs-nav .ui-state-active {
    background: transparent url(../images/uiTabsArrow.png) no-repeat bottom center;
    border: none;
}
#tabs-main .ui-tabs-nav .ui-state-default a {
    color: #c0c0c0;
}
#tabs-main .ui-tabs-nav .ui-state-active a {
    color: #459e00;
}

*/

#table-easymode tr {
    height: 24px;
}

.easymode-select-input {
    margin-right: 4px;
}

.rssi-cell {
    width: calc(100% + 8px);
    height: calc(100% + 3px);
    margin-left: -4px;
    display: inline-block;
    text-align: right;
    padding-right: 4px;
    padding-top: 3px;
}

#rename-device-only {
    padding-top: 12px;
}

.device-image {
    height: 22px;
    padding-top: 1px;
    margin-left: -1px;
    margin-bottom: -3px;
}

#connection-indicator {
    font-size: 10px;
    display: inline-block;
    padding-top: 4px;
    margin-left: 12px;
}

.ui-tabs .ui-tabs-nav {

    height: 29px;


}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background-color: white;
    border-color: lightgrey;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    color: black;
}

.ui-widget-overlay {
    opacity: 0.5;
}